html,body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
  }
  body{
    display:flex;
    font-family:sans-serif;

  }
  nav{
    background:rgb(30, 58, 138);
    padding:20px;
    gap:20px;
    flex:1;
    display:flex;
    flex-direction:column;
  }
  nav a{
    background:rgb(59, 130, 246);
    color:white;
    text-decoration:none;
    padding:10px;
  }
  main{
    padding:20px;
    flex:4;
  

  }
  table td{
    padding:10px;
    
  }
  table{
    background:rgb(219, 234, 254);
    width:100%;
    border:2px solid black;

  }
  th{
    background:rgb(37, 99, 235);
    color:white;
    padding:10px;
  }
  
