<!DOCTYPE html>
<html lang="es">
<head>
    <title>Micro formulario</title>
    <meta charset="UTF-8">
    <style>
        html, body {
            background: darkorange;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        form {
            width: 300px;
            height: 300px;
            padding: 20px;
            background: whitesmoke;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        input{padding: 20px;}
    </style>
</head>
<body>

    <form action="/envio" method="GET">
        <input type="text" name="nombre" placeholder="Escribe tu nombre">
        <input type="text" name="apellidos" placeholder="Escribe tus apellidos">
        <input type="submit">
    </form>

</body>
</html>
