
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #35424a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  border-bottom: 6px solid #000;
}
main {
  padding: 20px;
}
article {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,1);
}
article h3 {
  margin-top: 5px;
}
